

:root {
    --main-width: 900px;
}

html {
    min-height: 100vh;
}


html {
    background-image: url("/IMG_8513.JPG") !important;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
}

html.bg-fixed {
    background-attachment: fixed;
}

html.bg-scroll {
    background-attachment: scroll;
}

body {
    background: none !important;
    min-height: 100vh;
}

body.home .first-entry {
    background: rgba(46, 46, 51, 0.88) !important;
    border-radius: 12px;
    padding: 25px;
}

body:not(.home) .post-single,
body:not(.home) .page {
    background: rgba(46, 46, 51, 0.88) !important;
    border-radius: 12px;
    padding: 25px;
}
