body {
    background-image: url("/IMG_8513.JPG") !important;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* Keep the inside transparent */
body.home .home-info {
    background: transparent !important;
}


/* =========================================
   OTHER PAGES
   ========================================= */

 body:not(.home) .main {
   background: rgba(20, 20, 20, 0.88);
    border-radius: 12px;
    padding: 25px; }  


/* Homepage */
body.home {
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* Homepage readable text box */
body.home .first-entry {
    background: rgba(46, 46, 51, 0.88) !important;
    border-radius: 12px;
    padding: 25px;
}


